@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container-new{
  background: #f8f8f8;
  padding-top: 15px;
  padding-left: 15px;
}
:root{
  --gradient:linear-gradient(to right,#e2336b,#fcac46);

}
.sidebar{
  position: relative;
  width: 284px;
  height: calc(100vh - 30px);
  background: #f8f8f8;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--home{
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
  background: #fff;
  border-radius: 1rem 0 0 1rem;
  z-index: 1000;
}
.logo{
  display: block;
}
.logo img{
  width: 100%;
  object-fit: contain;
}
.menu a,
.drop--down a{
  width: 100%;
  font-size: 1rem;
  color: #000;
  display: flex;
  align-items: center;
  line-height: 40px;
}
.menu a:hover {
  color: #2e6aff;

}
.menu .icon,
.drop--down .icon{
  margin-right: 1rem;
  font-size: 20px;
}
.menu a:hover::before
{
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 12px;
  background: #2e6aff;
}
.main--home{
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table--data{
  overflow: auto;
}
.table--data::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
.table--data::-webkit-scrollbar-track{
  background: #f8f8f8;
}
.table--data::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 6px;
}
.table--data::-webkit-scrollbar-thumb:hover{
  background: #555;
}
table {
  width: auto;
  height: auto;
  border-bottom: solid #e4e3e4 1px;
}
th{
  border-bottom: 1px solid #e4e3e4;
  text-align: center;
}
td{
  border: solid #e4e3e4 1px;
  text-align: center;
}
.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
  background-color: #f8f8f8;
  border-radius: 10%;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border: 0px solid #f8f8f8;
}
.profile:hover{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.profile-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}
.profile-img img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.name{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.name h1{
  font-size: 1.1rem;
  margin: 0;
}
.name p{
  color: rgb(113, 118, 123); 
  margin: 0;
}
.drop--down {
  position: absolute;
  list-style: none;
  bottom: 45px;
  z-index: 3;
  width: 100%;
}

.drop--down li {
  padding: 10px 0px;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  text-align: center;
  background: #fbf6f6;
}
.drop--down > li > a:hover{
  color: #2e6aff;
}
.drop--down > li > a:hover::before
{
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 30px;
  background: #2e6aff;
}
.priority{
  list-style-type: disc;
}
.urg, .imp, .nor{
  list-style-type: disc;
}
.urg{
  color: #f00;
}
.imp{
  color: orange;
}
.nor{
  color: blue;
}
.urg > span,
.imp > span,
.nor > span{
  color: #000;
}
.emptyassign{
  color:rgb(113, 118, 123);
  font-style: italic;
}